<section class="policies" id="policies">
    <h1 class="heading">
        <span>p</span>
        <span>o</span>
        <span>l</span>
        <span>i</span>
        <span>c</span>
        <span>e</span>
        <span>s</span>
    </h1>
    <div class="box-container">

        <div class="box">
            <h3> Check-in</h3>
            <p>Check-in from 3 PM - 6:30 AM
                Late check-in subject to availability
                Minimum check-in age - 17</p>
            </div>
            <div class="box">
                <h3> Check-out</h3>
                <p>Check-out before noon</p>
            </div>
            <div class="box">
                <h3> Special check-in instructions</h3>
                <p>To make arrangements for check-in please contact the property ahead of time using the information on the booking confirmation
                    If you are planning to arrive after midnight please contact the property in advance using the information on the booking confirmation
                    Guests must contact the property in advance for check-in instructions; front desk staff will greet guests on arrival</p>
            </div>
            <div class="box">
                <h3> Renovations and closures</h3>
                <p>In accordance with local regulations, all visitors must remain within the property during Seclusion Day (Nyepi)/Hindu New Year for a 24-hour period (starting at 6 AM). 
                    Seclusion Day typically falls in March or April (dates subject to change each year). Check-in and check-out will not be possible on that date. 
                    devanahalli Airport (Bali International Airport) is also closed on Seclusion Day.</p>
            </div>
            <div class="box">
                <h3> Access methods</h3>
                <p>Staffed front desk</p>
            </div>
            <div class="box">
                <h3> Pets</h3>
                <p>No pets or service animals allowed</p>
            </div>
            <div class="box">
                <h3>Children and extra beds</h3>
                <p>Children are welcome
                    Kids stay free! One child 11 years old or younger stays free when using existing bedding
                    Rollaway/extra beds are not available.
                    Cots (infant beds) are not available</p>
            </div>
            <div class="box">
                <h3>Optional extras</h3>
                <p>The following fees and deposits are charged by the property at the time of service, check-in or check-out.

                    Fee for cooked-to-order breakfast: IDR 450000 for adults and IDR 225000 for children (approximately)
                    Airport shuttle fee: IDR 785000 per vehicle (one way)
                    The above list may not be comprehensive. Fees and deposits may not include tax and are subject to change.</p>
            </div>
            
            <div class="box">
                <h3>Payment types at the property </h3>
                <img src=" https://a.travel-assets.com/dms-svg/payments/cards-cc_master_card.svg" alt="master-card">
                <img src="https://a.travel-assets.com/dms-svg/payments/cards-cc_american_express.svg" alt="american-express">
                <img src="	https://a.travel-assets.com/dms-svg/payments/cards-cc_visa.svg" alt="visa">
            </div>
    </div>
</section>

