<app-header></app-header>
<router-outlet></router-outlet>

<div style="display: flex">
    <div>
      <div class="wrapper">
     
        <div style="background-image:url(https://images.unsplash.com/photo-1574157668644-cce54591add8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80)"></div>
      
        </div>

      <div style="text-align: center">
        <h1 style="margin: 20px 20px; font-family: serif">EMedical</h1>
        <p style="color: black; margin: 35px 150px">
            Emedical was founded by 204 batch in 2022. we have been influencing emerging technologies and driving digital trends for leading healthcare companies for the past ten years. As a creative analytic, he approaches business problems with strategic solutions backed by the vision to execute. An industry pioneer who has been consistently ahead of the game.
        </p>
      </div>
      
        </div>
      </div>
<app-footer></app-footer>
